body {
  font-family: "Arimo", sans-serif;
  margin-top: 10px;
}
small {
  font-family: monospace;
}
header {
  margin-bottom: 25px;
  margin-top: 10px;
  padding-right: 7px;
}
footer {
  max-width: 800px;
}
#current-location-button {
  text-align: center;
  border: 10px, solid, #0099ff;
  border-radius: 50%;
  float: right;
  background-color: rgba(0, 153, 255, 0.15);
}
#units {
  font-size: 14px;
  position: relative;
  bottom: 12px;
}
#search-bar {
  margin: 10px 0;
}
#search-button {
  margin: 10px 0;
  color: #fff;
  background: #0099ff;
}
#main-weather-icon {
  width: 125px;
  height: 125px;
  margin-top: -25px;
}
#date-and-time {
  line-height: 25px;
  font-size: 14px;
  color: rgb(0, 0, 0, 0.75);
}
#current-location {
  line-height: 45px;
  font-size: 30px;
  color: #0099ff;
}
#main-high-low {
  line-height: 25px;
  font-size: 14px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0, 0.75);
}

.body-of-app {
  max-width: 800px;
  display: block;
  margin: auto;
  border: #0099ff solid 1px;
  border-radius: 1%;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 16%,
    rgb(0, 153, 255) 100%
  );
}
.weather-label {
  font-size: 14px;
  margin-left: 70px;
  line-height: 20px;
  padding-top: 5px;
}
.weather-label-data {
  margin-right: 70px;
  font-size: 14px;
  line-height: 20px;
  padding-top: 5px;
}
.weekday {
  color: #0099ff;
  font-size: 18px;
  line-height: 30px;
  margin: 10px 0;
}
.small-weather-icon {
  margin: 50px 0;
  font-size: 40px;
}
.small-high-low {
  line-height: 20px;
  font-size: 13px;
  margin: 10px 0;
  color: rgb(0, 0, 0, 0.75);
}
.weekday-cards {
  border: 1px solid #0099ff;
  background-color: rgb(0, 153, 255, 0.15);
  margin: 1px;
  width: max-content;
}
.card-group {
  margin: 0 10px 10px 10px;
  padding-left: 15px;
}
